.location-item-list {
  column-count: 1;
  column-gap: calc(var(--spacing) * 4);
}

@media (min-width: 450px) {
  .location-item-list {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .location-item-list {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .location-item-list {
    column-count: 4;
  }
}

@media (min-width: 1500px) {
  .location-item-list {
    column-count: 5;
  }
}
